<div class="event-container">
	<div class="posts">
		<div class="row" data-equalizer="event-row" data-equalize-by-row="true">
		{{ $paginator := .Paginate (where .Site.RegularPages.ByDate.Reverse "Type" "event") 8 }}
		{{ range $paginator.Pages -}}
			<div class="col m3">{{ .Render "list-segment" }}</div>

			{{ .Render "modal" }}
		{{ end }}
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).foundation();

	$(document).ready(function(){
		// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
		$('.modal').modal({
			dismissible:false
		});
	});
</script>
