{{ define "main" -}}

    {{ partial "article.html" . }}

    <div class="event-container">
        <div class="posts">
            <div class="row">
            {{ $paginator := .Paginate (where .Site.RegularPages.ByDate.Reverse "Type" "event") 8 }}
            {{ range $paginator.Pages -}}
                <script>
                    // Generate modalId dynamically
                    var modalId = {{ .Params.Title }};
                    modalId = modalId.replace(/[-!$%^&*()#_+|~=`{}\[\]:";\'<>?,.\/]/g, '');
                    modalId = modalId.replace(/ /g, '-');
                    modalId = modalId + '-modalId';
                    // console.log(modalId);  // Use this to check id if there's problem loading page
                </script>

                <div class="col s12 m3">{{ .Render "list-segment" }}</div>

                {{ .Render "modal" }}

                <script type="text/javascript">
                    // Attach modalId to modal and link
                    $('#eventSegmentLink').attr('href', '#'+modalId);
                    $('#eventSegmentLink').attr('id', '');  // remove id, otherwise there will be multiple divs with same id 
                                                            // floating around
                    $('#modalIdPlaceholder').attr('id', modalId);
                </script>
            {{ end }}
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function() {
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });
    </script>

    {{ partial "pagination.html" . }}
{{- end }}