{{ define "main" -}}
    {{ if and (isset .Params "featureimage") (not (eq .Params.featureimage "")) -}}
    <article class="feature-image">
        <header style="background-image: url('{{ .Site.BaseURL }}{{ .Params.featureimage }}')">
            <h1 class="title">{{ .Title }}</h1>
        </header>
    {{- else -}}
    <article>
        <header>
            <h1 class="title">{{ .Title }}</h1>
        </header>
    {{- end }}
    </article>

    <div class="row">&nbsp;</div><!-- This is a sin. -->

    <div class="row container">
    <section class="post-content">
        <div class="col s12 m9 l9">
        {{ .Content }}

        {{ if (not (eq .Site.DisqusShortname "")) | and (not .Params.disableComments) }}
            {{ template "_internal/disqus.html" . }}
        {{ end }}
        </div>
        <div class="col hide-on-small-only m3 l3">
            <div id="sideMenu" class="override-justify">
                <ul class="section table-of-contents">
                {{ range $index, $element := .Params.sideMenuIds }}
                    <li><a href="#{{ $element }}">{{ index $.Params.sideMenuNames $index }}</a></li>
                {{ end }}
                </ul>
            </div>
        </div>
    </section>
    </div>

    <script>
        $(document).ready(function(){
            $('.scrollspy').scrollSpy();
        });

        $(function() {
            var $sideMenu = $("#sideMenu"), 
                $window = $(window),
                offset = $sideMenu.offset();

            $window.scroll(function() {
                if ($window.scrollTop() > offset.top) {
                    $sideMenu.stop().animate({
                        marginTop: $window.scrollTop() - offset.top
                    });
                } else {
                    $sideMenu.stop().animate({
                        marginTop: 0
                    });
                }
            });           
        });

    </script>
{{- end }}
