<div class="row">
  <form class="col s12">

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="name" type="text" class="validate">
        <label for="name">Name</label>
      </div>
    </div>
    
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">email</i>
        <input id="email" type="email" class="validate">
        <label for="email" data-error="Invalid email">Contact email</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input id="phone" type="tel" class="validate">
        <label for="phone">Contact number</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">message</i>
        <select id="enquiry">
          <option value="" disabled selected>Select one</option>
          <optgroup label="Connect">
            <option value="0">General enquiry</option>
            <option value="1">General feedback</option>
          </optgroup>
          <optgroup label="Partnership">
            <option value="2">Collaboration and partnership</option>
            <option value="3">Marketing and sponsorship</option>
            <option value="4">Student-alumni relations</option>
          </optgroup>
          <optgroup label="Outreach">
            <option value="5">Event publicity</option>
            <option value="6">Recruitment notice</option>
          </optgroup>
          <optgroup label="Help">
            <option value="7">Academic advisory</option>
            <option value="8">Locker enquiry</option>
            <option value="9">IT support</option>
          </optgroup>
        </select>
        <label>Enquiry type</label>
      </div>
    </div>
    
    <div class="row">
      <div class="input-field col s12">
        <textarea id="message" class="materialize-textarea" data-length="500"></textarea>
        <label for="message">Message</label>
      </div>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action" onclick="connect();">
      Send
      <i class="material-icons right">send</i>
    </button>

  </form>
</div>

<script>
  $(document).ready(function() {
    $('select').material_select();
  });

  function connect() {
    var data = {
      'enquiry': $('#enquiry').val(),
      'name': $('#name').val(),
      'email': $('#email').val(),
      'phone': $('#phone').val(),
      'message': $('#message').val()
    };

    $.ajax({
      url: '...',
      method: 'POST',
      contentType: 'application/json',
      data: JSON.stringify(data)
    }).done(function(data, textStatus, jqXHR) {
      alert(textStatus);
    }).fail(function(jqXHR, textStatus, errorThrown) {
      alert(errorThrown);
    });
  }
</script>
