<nav class="site-header">
	<div class="nav-wrapper" style="display: flex;">
	  	<div class="left branding valign-wrapper" style="flex: 1;">
			<a href="{{ .Site.BaseURL }}">
			{{ with .Site.Params.gravatar -}}
				<img class="avatar" src="https://www.gravatar.com/avatar/{{ . | md5 }}?s=100&d=identicon" alt=""/>
			{{- else -}}
				<img class="avatar" src="{{ .Site.BaseURL }}{{ .Site.Params.avatar }}" alt=""/>
			{{- end }}
			</a>
			<h1 class="site-title">
				<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
			</h1>
		</div>

		<div class="right hide-on-med-and-down">
			<ul id="nav-menu" class="site-nav">
        	{{ range .Site.Menus.nav -}}
	        	<li><a href="{{ .URL }}"> {{ .Name }} </a></li>
	      	{{- end }}
      		</ul>
		</div>

		<div class="right valign-wrapper">
      		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	      	<ul id="nav-mobile" class="side-nav">
	        {{ range .Site.Menus.nav -}}
	        	<li><a href="{{ .URL }}"> {{ .Name }} </a></li>
	      	{{- end }}
		     </ul>
      	</div>
	</div>
</nav>

<script>
	$( document ).ready(function(){
		$(".button-collapse").sideNav({
			menuWidth: 250,
			edge: 'right'
		});
	});
</script>
