	{{ partial "head.html" . }}
	<body>
		{{ partial "nav.html" . }}

		<div class="content">
			<div class="home">

				<img src="{{ .Site.BaseURL }}/img/{{ .Site.Params.headerImage }}" style="width:100%;">

				<div class="posts"><div class="post-teaser">
					<span style="width:45%;float:left;">
						{{ .Site.Params.description }}
					</span>
					<span style="width:45%;float:right;">
						<img src="{{ .Site.BaseURL }}/img/profile-home.jpg">
					</span>
				</div></div>

				{{ partial "post-list.html" . }}
				{{ partial "pagination.html" . }}

				{{ partial "footer.html" . }}

			</div>
		</div>
		<!-- Global Site Tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-29417295-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'GA_TRACKING_ID');
		</script>
	</body>
</html>
